NODE_ENV=development
PORT=5001

CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=website_karabubi
DB_USER=postgres
DB_PASSWORD=change-me
DB_DIALECT=postgres

JWT_SECRET=replace-with-new-long-secret

EMAIL_USER=
EMAIL_PASSWORD=

DB_SSL=false
